blockquote {
  border-left: 4px solid #42b983 !important;
  background-color: rgba(66, 185, 131, 0.1) !important;
}

a.header-anchor{
  color #e96900 !important;
}

.content__default code {
  color: #e96900 !important;
}

h1 {
  font-size 2.0rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 550 !important;
}

//×Ô¶¨ÒåÈÝÆ÷
.custom-block.tip{
  background-color: #f3f5f7 !important;
  border-color: #42b983 !important;
}

.custom-block.warning {
  background-color: rgba(255,229,100,.3) !important;
  border-color: #e7c000 !important;
  color: #6b5900 !important;
}

.custom-block.danger {
  background-color: #ffe6e6 !important;
  border-color: #c00 !important;
  color: #4d0000 !important;
}
